# -------------------------
# Python
# -------------------------
__pycache__/
__init__.py
*.pyo
*.pyd
*.so
.Python
.env

# -------------------------
# Django
# -------------------------
*.log
db.sqlite3
db.sqlite3-journal

# -------------------------
# Migrations (keep __init__.py)
# -------------------------
**/migrations/*
!**/migrations/__init__.py


# -------------------------
# IDEs & Editors
# -------------------------
.vscode/
.idea/
*.swp
*.swo

# -------------------------
# OS Files
# -------------------------
.DS_Store
Thumbs.db
